<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleName</key>
	<string>Theengs</string>

	<key>CFBundleDisplayName</key>
	<string>Theengs</string>

	<key>CFBundleExecutable</key>
	<string>Theengs</string>

	<key>CFBundleIdentifier</key>
	<string>com.theengs.app</string>

	<key>CFBundleIconFile</key>
	<string>Theengs.icns</string>

	<key>CFBundleVersion</key>
	<string>01050001</string>

	<key>CFBundleShortVersionString</key>
	<string>1.5.0</string>

	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>

	<key>NSHumanReadableCopyright</key>
	<string>Copyright Theengs 2024</string>

	<key>NSHighResolutionCapable</key>
	<true/>

	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>

	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Theengs connects to Bluetooth Low Energy sensors.</string>

	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Theengs connects to Bluetooth Low Energy sensors.</string>
</dict>
</plist>
