[Desktop Entry]
Type=Application
Name=Theengs
Comment=Efficient, portable and lightweight library for Internet of Things payload decoding
Exec=Theengs
Icon=Theengs
Categories=Utility;DataVisualization;Qt;
